<div class="container">
    <h3>Proyecto/NombreProyecto</h3>
    <div class="d-flex justify-content-between">
        <h2>Tablero</h2>
        <button mat-raised-button color="primary" (click)="onCrear()">Crear</button>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col">
                <p>Pendientes</p>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Actions Buttons</mat-card-title>
                        <mat-card-subtitle>Start</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col">
                <p>En progreso</p>
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>Actions Buttons</mat-card-title>
                      <mat-card-subtitle>Start</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div class="col">
                <p>Completada</p>
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>Actions Buttons</mat-card-title>
                      <mat-card-subtitle>Start</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </div>
</div>